#top-nav {
  background: rgb(233,122,99, .55);
  color: whitesmoke;
  /* border-bottom: 1px solid rgb(255,255,255, .65); */
}

#bottom-nav {
  background: rgb(210,185,180, .55);
  color: #191919;
  line-height: 1;
  padding: 15px 0px;
  bottom: 0;
  position: absolute;
  width: 100%;
}

a.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #bottom-nav {
  position: relative;
  bottom: 0;
  width: 100%;
  }
}



